<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">
<script src="js/angular.min.js"></script>
<script src="js/angular-locale_pt-br.js"></script>
<script src="js/angular-locale_custom_pt-br.js"></script>
</head>
<body data-ng-app="indexApp" data-ng-controller="indexCtrl">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Brand</a>
			</div>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<button type="button" class="btn btn-success" aria-label="Left Align" data-ng-click="novoConto()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{new_}}</button>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="panel panel-default">
					<table id="contos" class="table table-bordered">
						<thead>
							<tr>
								<th style="width: 80%;">Título</th>
								<th class="td_align_center" style="width: 15%;">Data</th>
								<th class="td_align_center" style="width: 5%;"></th>
							</tr>
							<tr data-ng-show="showLoadingRow">
								<td colspan="4">
									<div data-ng-show="showLoadingWidget" class="loading-widget"></div>
									<p data-ng-show="showLoadingMessage" class="loading-message">{{erro.mensagem}}</p>
								</td>
							</tr>
							<tr data-ng-repeat="conto in contos">
								<td>{{conto.titulo}}</td>
								<td class="td_align_center">{{conto.dataCadastro | date: 'short'}}</td>
								<td class="td_align_center">
									<button type="button" class="btn btn-xs btn-default" aria-label="Left Align" data-ng-click="verConto(conto.id)">
										<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
									</button>
								</td>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade bs-example-modal-lg" id="modalAddConto" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Novo conto</h4>
				</div>
				<div class="modal-body">
					<form id="criarContoForm" class="form-horizontal">
						<div class="form-group">
							<label for="autorId" class="col-sm-2 control-label">Autor</label>
							<div class="col-sm-10">
								<input type="text" name="autorId" class="form-control" />
							</div>
						</div>
						<div class="form-group">
							<label for="titulo" class="col-sm-2 control-label">Titulo</label>
							<div class="col-sm-10">
								<input type="text" name="titulo" class="form-control" />
							</div>
						</div>
						<div class="form-group">
							<label for="conto" class="col-sm-2 control-label">Conto</label>
							<div class="col-sm-10">
								<textarea name="conto" class="form-control" rows="20"></textarea>
							</div>
						</div>
						<input type="hidden" name="dataCadastro" id="dataCadastro" />
					</form>
				</div>
				<div class="modal-footer">
					<button type="reset" class="btn btn-default" data-dismiss="modal">{{cancel}}</button>
					<button type="button" data-ng-click="adicionarConto()" class="btn btn-primary">{{save}}</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade bs-example-modal-lg" id="modalVerConto" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span> <span class="sr-only">{{close}}</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">{{conto.titulo}}</h4>
				</div>
				<div class="modal-body">
					<p>{{autor}}: {{conto.autorId}}</p>
					<p>Publicado em: {{conto.dataCadastro | date:'dd/MM/yyyy HH:mm:ss'}}</p>
					<p>{{conto.conto}}</p>
				</div>
				<div class="modal-footer">
					<button type="reset" class="btn btn-default" data-dismiss="modal">{{cancel}}</button>
				</div>
			</div>
		</div>
	</div>
	<script src="js/jquery-2.2.3.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.serializejson.js"></script>
	<script src="js/moment-with-locales.min.js"></script>
	<script src="js/default.js"></script>
	<script src="js/angular/indexApp.js"></script>
	<script src="js/angular/indexCtrl.js"></script>
</body>
</html>

