#cell-loading-widget {
	display:none;
}
.loading-widget {
	margin: auto;
	width: 80px;
	height: 10px;
	background-image: url("../img/loading.gif");
}
.loading-message {
	text-align: center;
	width: 100%;
}
.td_align_right {
	text-align: right;
}
.td_align_left {
	text-align: left;
}
.td_align_center {
	text-align: center;
}